article.Movie
  div.Movie-data
    div.Movie-info
      figure.Movie-cover
        img(src=images.medium_cover_image,
            width="200",
            height="300",
            alt=title)
      h2.Movie-title=title_long
      ul.Movie-genres
        each genre in genres
          li.Movie-genres-item=genre
    div.Movie-downloads
      h3.Movie-downloads-title Download it in...
      hr()
      ul.Movie-downloadsList
        each torrent in torrents
          li.Movie-downloadsList-item
            a(href=torrent.url,
              title="Descargar en #{torrent.quality}").Movie-downloadsList-link=torrent.quality
      hr()

  div.Movie-suggestions
    include suggestions.jade

  div.Movie-data
    h3.Movie-data-title Summary
    p.Movie-data-text=description_full
    h3.Movie-data-title Trailer
    iframe(width="560",
             height="315",
             src="//www.youtube.com/embed/#{yt_trailer_code}",
             frameborder="0",
             allowfullscreen).Movie-trailer

  div.Movie-people
    include people.jade