.Suggestions
  h3.Suggestions-title Similar movies
  ul.Suggestions-list
    each suggestion in movies
      li.Suggestions-item
        img(src=suggestion.medium_cover_image,
            alt=suggestion.title,
            data-action="get-suggestion",
            data-id=suggestion.id,
            data-slug=suggestion.slug,
            height="195",
            width="130")
